@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* verde markoptic: #31a463 */
html {
  position: relative;
  min-height: 100%;
height: auto!important;
}

body{
        position: static!important;
    min-height: 0!important;
    margin-top: 70px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 150px;
}

.mark-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #31a463;
    border: 0;
    -webkit-box-shadow: 0px 1px35px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    color: #fff;
    height: 50px;
    padding: 8px;
}
.mark-nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.mark-nav a:hover{
    text-decoration: underline;
}

.bar-social{
    float: left;
    text-align: center;
    line-height: 1.7em;
    margin-top:4px;
}

.bar-social ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.bar-social ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

.top-right{
    float: right;
    max-width: 300px;
    text-align: right;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 10px;
}

.align-right { text-align: right;
}

.align-left { text-align: left;
}

.print{
    border: red 1px solid;
}



.logo{
    width: 290px;
    height: auto;
    margin-bottom: 15px;
}

.bg-mark{
    background-color: #31a463;
    color: #fff;
    border: #31a463;
}


.txt-mark{
    color: #31a463 !important;
}

/* botones markoptic */
.btn-mark {
    background-color: #31a463;
    border-color: #31a463;
    color: #fff;
}

.btn-bar{
    background-color: #31a463;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
}

.btn-bar:hover,
.btn-bar:focus,
.btn-bar:active,
.btn-bar.active {
    background-color: #007e44;
    border-color: #fff;
    color: #fff;
    outline: none !important;
}


.form-mark{
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
    height: 34px !important;
}
.form-mark::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
.form-mark:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
.form-mark::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
.form-mark:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

.form-mark:focus{
    outline: none;
    border:1px solid #fff;    
}

.btn-mark:hover,
.btn-mark:focus,
.btn-mark:active,
.btn-mark.active {
    background-color: #008d4c;
    border-color: #00733e;
    color: #fff;
}
.btn-mark.disabled:hover,
.btn-mark.disabled:focus,
.btn-mark.disabled:active,
.btn-mark.disabled.active,
.btn-mark[disabled]:hover,
.btn-mark[disabled]:focus,
.btn-mark[disabled]:active,
.btn-mark[disabled].active,
fieldset[disabled] .btn-mark:hover,
fieldset[disabled] .btn-mark:focus,
fieldset[disabled] .btn-mark:active,
fieldset[disabled] .btn-mark.active {
    background-color: #00A65A;
    border-color: #00A65A;
    color: #fff;
}

/* centered columns styles */
.row-centered {
    margin: 0 auto;
    width: 100%;
    
}


.menu{
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.menu li {
    display: table-cell;
    vertical-align: middle;
    
}
.menu a {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    margin: 0;
    height: 50px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
}
.menu a:hover {
font-size: 1.2em;
}

.zero{
    padding: 0;
    margin: 0;
}

.sep{
    padding: 0 5px;
}

.panel-mark{
    border-radius: 0;
    border: 0 solid;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.panel-mark h1, .panel-mark h2, .panel-mark h3{
    color:#5a5a5a;
    margin: 10px 0 10px 0 ;
    line-height: 100%;
    }

.decor{
    background: url(../img/line.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center
}
.decor-gal{
    background: url(../img/aqua.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center
}
.decor-donar{
    background: url(../img/rose.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center
    
}
.decor-span{
    background-color: #E7E8EA;
    padding: 0 10px;
    line-height: 30px;
}

.panel-mark p{
    color:#5a5a5a;
    margin: 0 0 10px 0;
    font-size: 1.2em;
    }
.panel-mark ul{
    color:#5a5a5a;
    margin: 0 0 10px 0;
    font-size: 1.2em;
    }

.panel-mark .col{
    max-width: 170px;
    max-height: 115px;
    margin: 10px;
}
.panel-default > .panel-heading-mark{
    background-color: #31a463;
    border-radius: 0;
    color: #fff;
    height: 42px;
    line-height: 42px; 
    padding:0;
    text-align: center;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    border: 0 solid;
    
}
.panel-default > .panel-body-mark{
    background-color: #E7E8EA;
    color: #000;
    border: 0 solid;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    height: 350px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(5, 5, 5, 0.12);
    padding: 15px;
    z-index: 999;
    text-align: center;
}

.carousel-caption h4, .carousel-caption small {
    color: white !important;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    vertical-align: bottom;
}

.carousel-caption small {
font-size: 0.75em;
}
.carousel-caption a {
    color: white;
    text-decoration: none;
}
.carousel-caption a:hover {
   text-decoration: underline;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 350px;
    background-color: #777;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-indicators {
    top: 5px;
}
.carousel-indicators li {
    background-color: #fff;
}
.carousel-indicators .active {
    background-color: #31a463;
}

/*Botones de donacion*/
.foo{
    width: 150px;
    height: 150px;
    margin: 6px;
    display: inline-table;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    font-size: 1.05em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    list-style-type: none;
}
.foo:hover{
    text-decoration: none;
    cursor:pointer;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 152, 219, 0.86);
    -moz-box-shadow:  0px 1px 15px 0px rgba(0, 152, 219, 0.86);
    box-shadow: 0px 1px 15px 0px rgba(0, 152, 219, 0.86);
}
.foo:visited, .foo:hover, .foo:active, .foo:link{
    color: inherit;
    text-decoration: none;
}
.foo img{
    width: auto;
    max-width: 120px;
    height: 80px;
    max-height: 80px;
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none;
}
.foo p{
    color: #fff;
    height: 45px;
    font-size: 1em;
}

.foo-center{
    overflow: hidden;
    text-align: center;
    width:100%;
    margin:10px auto;
    padding: 0;
}

.bannerd{
    width:300px;
    margin-bottom: 15px;
    height: auto;
    float: right;
}

/*estilo de la lista de articulos*/

.postit {
 overflow: hidden;
}
.postit a {
    text-decoration: none;
        color: #31a463;
}
.postit h4 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}
.postit p {
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
}

.thumb-new {
    margin-right: 10px;
    max-width: 150px;
    background-color: #fff;
    border: solid 3px #fff;
    float: left;
}

hr {
    border-top-color: #d6d6d6;
    border-bottom: #f2f2f2;
    border-style: solid none;
    border-width: 1px 0 1px 0;
    margin: 10px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #31a463;
    color: #fff;
    border-top: 5px solid #147c41;
    padding: 10px;
  /* Set the fixed height of the footer here */
    height: 150px;
}

.footer h3{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}

.footer p{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.05em;
}

.footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover{
    text-decoration: underline;

}

#video-background { 
    width: 100%; 
    height: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

.modal-mark{
    background:#31a463;
    border-radius: 5px 5px 0 0;
}
.modal-mark h4{
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
}
.text-body{
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
    
}

.modal-mark .close{
    color: #fff;
    opacity: 1;
}


#magenta{background:#E92A6F;}
#aqua{background: #09d3c5;}
#naranja{background:#ff8d2c;}
#verde{background: #63c62f;}
#cyan{background:#25AAE3;}
#morado{background: #A17AB3;}
#rosado{background: #F05B6F;}
#reflex{background: #0D426E;}
#militar{background: #9AAE3B;}
#mark{background: #31a463;}
#amarillo{background: #fccf14;}
#cafe{background: #cd853f;}

.modal-magenta{background:#E92A6F;}
.modal-aqua{background: #09d3c5;}
.modal-naranja{background:#ff8d2c;}
.modal-verde{background: #63c62f;}
.modal-cyan{background:#25AAE3;}
.modal-morado{background: #A17AB3;}
.modal-rosado{background: #F05B6F;}
.modal-reflex{background: #0D426E;}
.modal-militar{background: #9AAE3B;}
.modal-amarillo{background: #fccf14;}
.modal-cafe{background: #cd853f;}

.news{
    color:#6D6E71;
    font-size: 1em;
    margin-top: 10px;
    text-align: justify;
}


@media (max-width : 767px) {
    body{
    margin-bottom: 210px;
}
    
    .footer {
    height: 210px;
}
    
    .top-right{
        width: 300px;
        margin-right: -10px;
    }
    
    
    .bar-social{
        margin-left: -10px;
    }
    
    .menu li {
    display: list-item;
    vertical-align: middle;
    
    }
    
    .logo, .bannerd{
    width: 270px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block; 
    }
    
}

@media (max-width : 498px) {
    .top-right{
        width: 130px;
        margin-right: -20px;
    }
    
      .bar-social{
        margin-left: -20px;
    }   
    
            .foo{
    width: 115px;
    height: 120px;
    font-size: 0.9em;
            padding: 15px;

    }
    .foo p{
    color: #fff;
    height: 35px;
    }
    
    .foo img{
    width: 100px;
    max-width: 110px;
    }
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  z-index: 999;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides1_nav:active {
  opacity: 1.0;
  }

.rslides1_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.rslides2_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.rslides2_nav.next {
  left: auto;
  right: 0;
  }

.rslides3_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.rslides3_nav:active {
  opacity: 1.0;
  }

.rslides3_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }

.rslides_tabs {
  margin-top: 10px;
  text-align: center;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.rslides_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslides_tabs .rslides_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

/*gakeria*/
.image-list {
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.image-list li {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-list a,
.image-list img {
    display: block;
    width: 100%;
}
.image-list img {
    border: solid #fff 3px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99;
    background-color: rgba(49, 164, 99, 0.76);
	color: #fff;
	width: 48px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    border: solid #fff 2px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.scroll-top-wrapper:hover {
	background-color: #31a463;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: 48px;
    vertical-align: middle;
}
 
.dlink{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.dlink a:focus, .dlink a:hover{
    color: #fff !important;
    text-decoration: underline;
}


.don-btn{
    height: 145px;
    min-height: 145px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}
.don-btn:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    transition: all 0.1s ease 0s;
}
.don-btn img{
    opacity: 0.7;
}
.don-btn p{
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: bolder;
    color: #fff;
}
.don-a:visited, .don-a:hover, .don-a:active, .don-a:link{
text-decoration: none;
}
.fb-video { 
    position: absolute;
    z-index: 99999999;
}