@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* verde markoptic: #31a463 */
html {
    position: relative;
    min-height: 100%;
    height: auto!important;
}

body{
    position: static!important;
    min-height: 0!important;
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 130px;
    /*background: url(/img/bg.png) center top no-repeat;
    background-size: 100% 300px;*/
}

.mark-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #31a463;
    border: 0;
    -webkit-box-shadow: 0px 1px35px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    color: #fff;
    height: 50px;
    padding: 8px;
}
.mark-nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.mark-nav a:hover{
    text-decoration: underline;
}

.bar-social{
    float: left;
    text-align: center;
    line-height: 1.7em;
    margin-top:4px;
}

.bar-social ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.bar-social ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

.top-right{
    float: right;
    max-width: 300px;
    text-align: right;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 10px;
}

.align-right { text-align: right;
    text-align: right;
    max-width: 1100px;
    line-height: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.align-left { text-align: left;
}

.print{
    border: red 1px solid;
}



.logo{
    height: 170px;
}

.bg-mark{
    background-color: #31a463;
    color: #fff;
    border: #31a463;
}


.txt-mark{
    color: #31a463 !important;
}

.txt-mark a,
.txt-mark a:focus,
.txt-mark a:hover{
    color: #31a463 !important;
    text-decoration: none !important;
}
.txt-rosado{
    color: #F05B6F !important;
}

.txt-rosado a,
.txt-rosado a:focus,
.txt-rosado a:hover{
    color: #F05B6F !important;
    text-decoration: none !important;
}

/* botones markoptic */
.btn-mark {
    background-color: #31a463;
    border-color: #31a463;
    color: #fff;
}

.btn-bar{
    background-color: #31a463;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
}

.btn-bar:hover,
.btn-bar:focus,
.btn-bar:active,
.btn-bar.active {
    background-color: #007e44;
    border-color: #fff;
    color: #fff;
    outline: none !important;
}


.form-mark{
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
    height: 34px !important;
}
.form-mark::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
.form-mark:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
.form-mark::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
.form-mark:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

.form-mark:focus{
    outline: none;
    border:1px solid #fff;    
}

.btn-mark:hover,
.btn-mark:focus,
.btn-mark:active,
.btn-mark.active {
    background-color: #008d4c;
    border-color: #00733e;
    color: #fff;
}
.btn-mark.disabled:hover,
.btn-mark.disabled:focus,
.btn-mark.disabled:active,
.btn-mark.disabled.active,
.btn-mark[disabled]:hover,
.btn-mark[disabled]:focus,
.btn-mark[disabled]:active,
.btn-mark[disabled].active,
fieldset[disabled] .btn-mark:hover,
fieldset[disabled] .btn-mark:focus,
fieldset[disabled] .btn-mark:active,
fieldset[disabled] .btn-mark.active {
    background-color: #00A65A;
    border-color: #00A65A;
    color: #fff;
}

/* centered columns styles */
.row-centered {
    margin: 0 auto;
    width: 100%;
    
}


.menu{
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.menu li {
    display: table-cell;
    vertical-align: middle;
    
}
.menu a {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    margin: 0;
    height: 50px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
}
.menu a:hover {
font-size: 1.2em;
}

.zero{
    padding: 0;
    margin: 0;
}

.sep{
    padding: 0 5px;
}

.panel-mark{
    border-radius: 0;
    border: 0 solid;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);

}
.panel-mark h1, .panel-mark h2, .panel-mark h3{
    color:#5a5a5a;
    margin: 10px 0 10px 0 ;
    line-height: 100%;
    }

.decor{
    background: url(../img/line.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center
}
.decor-gal{
    background: url(../img/aqua.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center
}
.decor-donar{
    background: url(../img/rose.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center
    
}
.decor-span{
    background-color: #E7E8EA;
    padding: 0 10px;
    line-height: 30px;
}

.panel-mark p{
    color:#5a5a5a;
    margin: 0 0 10px 0;
    font-size: 1.2em;
    }
.panel-mark ul{
    color:#5a5a5a;
    margin: 0 0 10px 0;
    font-size: 1.2em;
    }

.panel-mark .col{
    max-width: 170px;
    max-height: 115px;
    margin: 10px;
}
.panel-default > .panel-heading-mark{
    background-color: #31a463;
    border-radius: 0;
    color: #fff;
    height: 42px;
    line-height: 42px; 
    padding:0;
    text-align: center;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    border: 0 solid;
    
}
.panel-default > .panel-body-mark{
    background-color: #E7E8EA;
    color: #000;
    border: 0 solid;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    height: 350px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(5, 5, 5, 0.12);
    padding: 15px;
    z-index: 999;
    text-align: center;
}

.carousel-caption h4, .carousel-caption small {
    color: white !important;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    vertical-align: bottom;
}

.carousel-caption small {
font-size: 0.75em;
}
.carousel-caption a {
    color: white;
    text-decoration: none;
}
.carousel-caption a:hover {
   text-decoration: underline;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 350px;
    background-color: #777;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-indicators {
    top: 5px;
}
.carousel-indicators li {
    background-color: #fff;
}
.carousel-indicators .active {
    background-color: #31a463;
}



.bannerd{
    width:300px;
    margin-bottom: 15px;
    height: auto;
    float: right;
}



hr {
    border-top-color: #d6d6d6;
    border-bottom: #f2f2f2;
    border-style: solid none;
    border-width: 1px 0 1px 0;
    margin: 10px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #31a463;
    color: #fff;
    border-top: 5px solid #147c41;
    padding: 10px;
  /* Set the fixed height of the footer here */
    height: 130px;
}

.footer h4{
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

.footer p{
    margin: 0;
    text-align: center;
    font-size: 1.05em;
}

.footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover{
    text-decoration: underline;

}

#video-background { 
    width: 100%; 
    height: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

.modal-mark{
    background:#31a463;
    border-radius: 5px 5px 0 0;
}
.modal-mark h4{
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
}
.text-body{
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
    
}

.modal-mark .close{
    color: #fff;
    opacity: 1;
}


#magenta{background:#E92A6F;}
#aqua{background: #09d3c5;}
#naranja{background:#ff8d2c;}
#verde{background: #63c62f;}
#cyan{background:#25AAE3;}
#morado{background: #A17AB3;}
#rosado{background: #F05B6F;}
#reflex{background: #0D426E;}
#militar{background: #9AAE3B;}
#mark{background: #31a463;}
#amarillo{background: #fccf14;}
#cafe{background: #cd853f;}

.modal-magenta{background:#E92A6F;}
.modal-aqua{background: #09d3c5;}
.modal-naranja{background:#ff8d2c;}
.modal-verde{background: #63c62f;}
.modal-cyan{background:#25AAE3;}
.modal-morado{background: #A17AB3;}
.modal-rosado{background: #F05B6F;}
.modal-reflex{background: #0D426E;}
.modal-militar{background: #9AAE3B;}
.modal-amarillo{background: #fccf14;}
.modal-cafe{background: #cd853f;}


@media (max-width : 768px) {
    
    .top-right{
        max-width: 150px ;
        margin-right: -10px;
    }
    
    
    .bar-social{
        margin-left: -10px;
    }
    
    .menu li {
    display: list-item;
    vertical-align: middle;
    
    }
        
}


@media (max-width : 480px) {
    body{
    margin-bottom: 150px;
}
    
    .footer {
    height: 150px;
}
    
    .top-right{
        max-width: 130px;
        margin-right: -20px;
    }
    
      .bar-social{
        margin-left: -20px;
    }   
    
            .foo{
    width: 115px;
    height: 120px;
    font-size: 0.9em;
            padding: 15px;

    }
    .foo p{
    color: #fff;
    height: 35px;
    }
    
    .foo img{
    width: 100px;
    max-width: 110px;
    }
}

@media (max-width : 320px) {
        body{
    margin-bottom: 180px;
}
    
    .footer {
    height: 180px;
}
    
    .top-right{
        max-width: 100px;
        margin-right: -20px;
    }
  
}


/*galeria*/
.image-list {
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.image-list li {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-list img {
    display: block;
    width: 100%;
}
.image-list img {
    border: solid #fff 3px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99;
    background-color: rgba(49, 164, 99, 0.76);
	color: #fff;
	width: 48px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    border: solid #fff 2px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.scroll-top-wrapper:hover {
	background-color: #31a463;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: 48px;
    vertical-align: middle;
}

/*botones de las formas de doancion*/
.don-btn{
    height: 145px;
    min-height: 145px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}
.don-btn:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    transition: all 0.1s ease 0s;
}


.don-btn img{
    opacity: 0.7;
    transition: all 0.8s ease 0s;
}

.don-btn:hover img{
    opacity: 1;
    transition: all 0.2s ease 0s;
}

.don-btn p{
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: bolder;
    color: #fff;
}
.don-a:visited, .don-a:hover, .don-a:active, .don-a:link{
text-decoration: none;
}


input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.grat{
    max-height: 350px;
}
.pacificoh{
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.btn-form{
  margin: 7px;
}

.pub img{
    border: 3px solid #fff;
    margin-bottom:8px;
    margin-top:8px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
}
.img-quote{
    border: 3px solid #fff;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
    border-radius: 1000px;
    width: 120px;
    height: 120px !important;
    margin: 0 auto 10px !important;
}


.play-wrapper {
    position: fixed;
    opacity: 1.0;
    visibility: visible;
    overflow: hidden;
    cursor:pointer;
    text-align: center;
    z-index: 99;
    background-color: rgba(49, 164, 99, 0.76);
    color: #fff;
    width: 48px;
    line-height: 48px;
    left: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: solid #fff 2px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.play-wrapper:hover {
  background-color: #31a463;
}
.play-wrapper i.fa {
  line-height: 48px;
    vertical-align: middle;
}

.pause-wrapper {
    position: fixed;
    opacity: 1.0;
    visibility: visible;
    overflow: hidden;
    cursor:pointer;
    text-align: center;
    z-index: 99;
    background-color: rgba(49, 164, 99, 0.76);
    color: #fff;
    width: 48px;
    line-height: 48px;
    left: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: solid #fff 2px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.pause-wrapper:hover {
  background-color: #31a463;
}
.pause-wrapper i.fa {
    line-height: 48px;
    vertical-align: middle;
}

/*propiedades de lso botones de solicitudy del contador*/
.sbut{
    background: #31a463;
    min-height:  height: 100px;
    max-width: 235px;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease 0s;
}
.sbut:hover{
    text-decoration: none;
    cursor: pointer;
    background: #44af72; 
}

.sbut:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    transition: all 0.1s ease 0s;
}

.sbut:visited, .sbut:hover, .sbuta:active, .sbut:link{
text-decoration: none;
}

.sbut span{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.78em;
    line-height: 1em;
    font-weight: bold;
}
.sbut img{
    max-height: 80px;
    float: right;
    
}

#counter{
    background: #E92A6F;
    height: auto;
    text-align: center;
    border-radius: 5px;
    margin: 5px auto;
}
#counter:hover{
    text-decoration: none;
    cursor: pointer;
    background: #ef417f; 
}
#hist{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.18em;
    color: #25AAE3;
    display:block;
    transition: all 0.3s ease 0s;
}

#hist:visited{
text-decoration: none;
}

/*estilos de las graficas*/
.charts{
    width:100%;
    height: 350px;
    border: solid 3px #F05B6F;
    border-radius:4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
#regions_div{
    margin: 15px 0;
    border-color: #FCCF14;
}

#chart_div{border-color: #25AAE3;}


.sombra{
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
.btn-pad{
    color: #fff;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.25s ease 0.25s;
}
.btn-pad:hover{
    color: #fff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
      -webkit-filter: brightness(110%);
      filter: brightness(110%); 
}

.btn-pad:active{
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.btn-pad:visited, .btn-pad:hover, .btn-pad:active, .btn-pad:link{
    color: #fff;
}

article.accordion{
	display: block;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
    border: 1px solid #e0e0e0;
    background: #f5f5f5;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

article.accordion section{
	display: block;
	height: 2.5em;
	padding: 0 8px;
	margin: 3px;
	overflow: hidden;
	border-radius: 3px;

}

article.accordion section h2{
	font-size: 1.3em;
	font-weight: bold;
	width: 100%;
    text-align: center;
	padding: 5px;
	margin: 0;
	color: #fff;
}

article.accordion section h2 a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.accordion section:target{
	height: auto;
	background-color: #fff;
    border: 1px solid #e0e0e0;
}

article.accordion section:target h2{
	font-size: 1.6em;
    color: inherit;
}

article.accordion section,
article.accordion section h2{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/*estilos de las historias*/
.scroll-box{
    max-height: 150px;
    overflow: scroll;
}

.hist-box{
    border:#cecece solid 1px;
    margin: 0 5px 10px;
    padding: 15px;
    background: #f8f8f8;
    display: block;
    border-radius: 3px;
    transition: all 0.5s ease;
}
a.hist-box:focus, a.hist-box:hover{
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
}

.hist-box dl{
    margin: 0;
}

.hist-box dd{
 line-height: 1.9em;

}
.hist-box h3{
    color: #31a463;
    font-size: 1.6em;
    font-family: oswald;
    line-height: 1.6em;
    vertical-align: middle;
    font-weight: lighter;
}
.hist-box p{
    color:#5a5a5a;
    margin: 0 0 10px 0;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
    }

.carousel-cell img {
  height: 250px;
  margin-right: 10px;
}